.bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #202020;
  background-size: cover;
  position: absolute;
  background-image: url(../img/bg-mobile-01.jpg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;

  @include breakpoint($tablet) { 
    top: 55px;
    background-image: url(../img/bg-mobile-01.jpg);
  }
  @include breakpoint($desktop) { 
    top: 0;
    background-image: url(../img/bg-01.jpg);
  }
}

.bg-index {
  top: 0;
}

.bg-tour { 
  background-image: url(../img/bg-mobile-02.jpg);
  @include breakpoint($tablet) { background-image: url(../img/bg-mobile-02.jpg); }
  @include breakpoint($desktop) { background-image: url(../img/bg-04.jpg); }
}
.bg-specials { 

  @include breakpoint($desktop) { background-image: url(../img/bg-02.jpg); }

}
.bg-books { 
  @include breakpoint($desktop) { background-image: url(../img/bg-03.jpg); }
}

.b-criminals-banner {
  background-image: url(../img/criminals-banner2.jpg);
  background-size: cover;
  display: block;
  height: 40px;
  width: 100%;
  background-position: center;

  &.m-top {
    position: absolute;
    top: 0;
  }

  @include breakpoint($tablet) { 
    // height: 55px; 
    background-image: url(../img/criminals-banner.jpg);
  }
  @include breakpoint($desktop) { 
    height: 60px; 
    background-image: url(../img/criminals-banner.jpg);
  }
}
