.bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #202020;
  background-size: cover;
  position: absolute;
  background-image: url(../img/bg-mobile-01.jpg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  -o-transition: opacity 4s ease;
  -ms-transition: opacity 4s ease;
  -moz-transition: opacity 4s ease;
  -webkit-transition: opacity 4s ease;
  transition: opacity 4s ease;

  &.bg-carousel {
    opacity: 0;
  }

  &.bg-carousel.m-visible {
    opacity: 1;
  }

  @include breakpoint($tablet) {
    top: 55px;
    background-image: url(../img/bg-mobile-01.jpg);
  }
  @include breakpoint($desktop) {
    top: 0;
    background-image: url(../img/bg-01.jpg);
  }
}

.bg-index {
  top: 0;
}

.bg-index-1 {
  background-image: url(../img/bg-01.jpg);
}

.bg-index-2 {
  background-image: url(../img/Home_02-for-web.jpg);
}

.bg-index-3 {
  background-image: url(../img/Home_02-for-web.jpg);
}

.bg-index-4 {
  background-image: url(../img/Home_02-for-web.jpg);
}

.bg-tour {
  background-image: url(../img/bg-mobile-02.jpg);
  @include breakpoint($tablet) { background-image: url(../img/bg-mobile-02.jpg); }
  @include breakpoint($desktop) { background-image: url(../img/bg-04.jpg); }
}
.bg-specials {

  @include breakpoint($desktop) { background-image: url(../img/bg-02.jpg); }

}
.bg-books {
  @include breakpoint($desktop) { background-image: url(../img/bg-03.jpg); }
}

.b-criminals-banner {
  background-image: url(../img/criminals-banner2.jpg);
  background-size: cover;
  display: block;
  height: 40px;
  width: 100%;
  background-position: center;

  &.m-top {
    position: absolute;
    top: 0;
  }

  @include breakpoint($tablet) {
    // height: 55px;
    background-image: url(../img/criminals-banner.jpg);
  }
  @include breakpoint($desktop) {
    height: 60px;
    background-image: url(../img/criminals-banner.jpg);
  }
}
