.b-books {
  .b-left, .b-right {
    > div > img { width: 350px; }
    }

    .b-description {
      font-size: 21px;

      > p {
        text-align: left;
      }
      
      @include breakpoint($desktop) { margin-left: 20px; }
      

      .e-quote {
        font-size: 30px;
        position: relative;
        padding: 0 20px;
        margin: 0;
        text-align: right;

        p {
          position: relative;
          z-index: 2;
          margin-bottom: 30px;

          &:before,
          &:after {
            width: 76px;
            height: 76px;
            background-size: contain;
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            opacity: .1;
          }

          &:before { 
            
            background-image: url(../img/quotes-left.png);
            
            @include breakpoint($mobile) { left: 10px; }
            @include breakpoint($tablet) { left: 0; }
            @include breakpoint($desktop) { left: 20px; }
          }

          &:after { 
            right: -10px;
            background-image: url(../img/quotes.png);

            @include breakpoint($tablet) {
              right: 0;
            }
          }

          

        }

        span {
          color: rgb(249, 182, 33);
          font-size: 16px;
          line-height: 30px;
          display: block;
          text-align: right;
          font-weight: 400;
        }
      }
    }
  }

.b-books {
  .b-stores {
    margin-top: 50px;
  }
}
