.b-stores {
  img {
    max-width: 150px;
    max-height: 36px;
    margin: 0 20px 20px 0;
  }

  .e-itunes { max-height: 28px;}
  .e-amazon-iv { margin-bottom: 7px;}
  .e-comedy-central {margin-bottom: 17px;}
  .e-vudu { max-height: 30px; }
  .e-amazon {margin-bottom: 13px;}
  .e-goodreads {}
  .e-barnes-and-noble {margin-bottom: 25px;}
  .e-google-play {max-height: 42px;}
  .e-google-books {}
}

.b-right :first-child {
  order: 1;
  -webkit-order: 1;

   img {
    margin-left: 20px;
    margin-right: 0;
  }
}
