.tour-dates {
  color: #ddd;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;

  th {
    text-align: left;
    background-color: rgba(255,255,255, 0.1);
    padding: 8px 10px;

  }

  td {
    border-bottom: 1px solid rgba(255,255,255,0.15);
    padding: 8px 10px;

    a,
    .fa { color: #aaa; }
  }

  tr:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.05);

    td {
      color: #fff;

      a, .fa { color: #fff; }
    }
  }

  .date     { width: 15%; }
  .time     { width: 15%; }
  .tour     { width: 15%; }
  .venue    { width: 31%; }
  .location { width: 17%; }
  .link     { width:  7%; } 
}


.tour-dates {
  @include breakpoint($mobile) {
    display: block;
    width: 100%;
    font-size: 14px;
    
    thead { display: none; }
    tbody { width: 100%; }

    tr { 
      display: block;
      border-bottom: 1px solid rgba(255,255,255,0.15);
      position: relative;
      padding: 5px 0;
    }

    td { 
      display: inline-block; 
      border-bottom: 0;
    }

    .date     { width: 30%; }
    .time     { width: 65%; }
    .tour     { display: none; }
    .venue    { width: 100%; }
    .location { width: 100%; }
    .link     { 
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 18px;
    } 
  }
}












.b-upcoming-show {
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;

  a { color: white; }
  a:hover { text-decoration: underline; }

  @include breakpoint($tablet) {font-size: 16px;}
  @include breakpoint($desktop) {font-size: 16px;}

  br {
    @include breakpoint($desktop) {display: none;}    
  }
}
