// Breakpoint Variables

$mobile: max-width 700px;
$tablet: min-width 701px;
$desktop: min-width 1100px;


$white-10: rgba(255,255,255,0.1);

@mixin transition {
  transition: all .4s ease;
}

@import "breakpoint";
@import "base";
@import "header";
@import "backgrounds";
@import "stores";
@import "social-media";
@import "videos";

// Page Specific
@import "tour-dates";
@import "press";
@import "books";
@import "admin";


.main {
  background-color: #202020;
  opacity: .9;

  > h1 {
    color: white;
    text-align: center;
    background-color: #363441;
    font-size: 1.5rem;
    padding: 15px;
    margin: 0;
  }
}

.content {
  padding-bottom: 50px;
  background-color: #202020;

  .wrapper {
    padding-top: 50px;
  }
}

.b-left, .b-right {
  display: flex;
  display: -webkit-flex;

  & + .b-left, & + .b-right {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 30px;
  }

  > div > img {
    width: 170px;
    margin-right: 20px;
  }

  .b-description {
    flex: 1 0;
    -webkit-flex: 1 0;
    color: white;
  }
}

.b-description {
    color: white;

    .e-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 16px;
      letter-spacing: .5px;
    }

    p {
      margin-bottom: 10px;
      color: #ddd;
    }

    a {
      display: inline-block;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

.b-center {
  .b-description {
    color: white;

    .e-title {

      margin-bottom: 10px;
      font-weight: bold;
      font-size: 21px;
    }

    p {
      margin-bottom: 10px;
      color: #ddd;
    }

  }
}


// Medium screens
@media only screen and (max-width: 40em) {


  .bg { top: 0; }

  .b-center {
    padding: 0 20px;

    .b-description .b-links {
      text-align: center;
      margin-top: 30px;
    }
  }



  .b-left, .b-right {
    display: block;
    text-align: center;
    padding: 0 20px;

    > div:first-child > img {
      width: 100%;
      margin-left: 0;
    }

    .b-description { margin-top: 20px; }
  }


}
