{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-about-videos-1 m-visible"></div>
  <div class="bg bg-carousel bg-about-videos-2"></div>
  <a class="b-criminals-banner m-top" href="http://www.cc.com/shows/roast-battle"></a>
{% endblock %}

{% block content %}
  <h1>About Jeff</h1>

  <section class="content">
    <div class="wrapper b-about b-text-page">
      <p>Jeff Ross is a respected comedian, writer, and producer also known as “The Roastmaster General”.</p>

      <p>Most recently Jeff produced and starred in the “Comedy Central Roast of Rob Lowe”.  Jeff’s other roast victims include Justin Bieber, James Franco, Charlie Sheen, James Carville and Donald Trump (twice).</p>

      <p>Jeff’s most recent comedy specials are the critically acclaimed and highly rated “Jeff Ross Roasts Criminals”, which was filmed inside a maximum security jail and “Jeff Ross Roasts Cops” which takes place during ride-a-longs with the Boston Police Department.</p>

      <p>Jeff’s recent acting credits include guest-star roles on Audience Network’s “Kingdom”, ABC’s “Dr. Ken”, Comedy Central’s “Drunk History”, Fox’s “Grandfathered”, “The Simpsons”, “Family Guy” and the feature films  “Flock Of Dudes” and “Wedding Ringer” starring Kevin Hart.</p>

      <p>Jeff is also a regular on many animated shows including “Mr. Peabody and Sherman”, “Future Worm”, “Penn Zero Part Time Hero” and will be seen as “Hook Foot” on Disney’s upcoming “Tangled” TV series.</p>

      <p>His latest TV venture is “Jeff Ross Presents Roast Battle”, a popular comedy competition show about to start its second run on Comedy Central.</p>

      <p>Jeff sits on the board of the New York Friars Club and is involved with the many charitable endeavors including the Scleroderma Research Foundation and the USO, which supports military members and their families. Jeff is originally from Newark, New Jersey but please don’t hold that against him.</p>
    </div>
  </section>
{% endblock %}
