{% extends "base.html" %}

{% block header %}
<div class="bg bg-carousel bg-about-videos-1 m-visible"></div>
<div class="bg bg-carousel bg-about-videos-2"></div>
<a href="/tour-dates.html" class="b-criminals-banner m-top" target="_blank"></a>
{% endblock %}

{% block content %}
<h1>About Jeff</h1>

<section class="content">
  <div class="wrapper b-about b-text-page">
    <p>Most recently you can see Jeff on Netflix in “Bumping Mics” with Dave Attell. It is three episodes of rapid fire
      two man stand up. The joke per minute ratio, is off the rails. Jeff and Dave are headliners in their own right,
      but when they combine forces it's a whole other beast that can't be tamed.</p>

    <p>Soon Jeff will be back on Netflix starring in a series called “Historical Roasts” where he hosts his dream roasts
      with some of the most famous people in history.</p>

    <p>As a regular on the Comedy Central Roasts, Jeff has roasted many infamous stars including Bruce Willis, Justin
      Bieber, Roseanne Barr, Joan Rivers, Charlie Sheen, and The President of The United States Donald Trump.</p>

    <p>These roasts have become a mainstay in popular culture and propelled roasting into the public eye. Building on
      their success, Jeff launched “Jeff Ross Presents Roast Battle” in 2016, a competition show in which comics go mic
      to mic in a battle of wits. Judged by some of the best comedy minds of our generation, including Jimmy Kimmel,
      Kevin Hart ,and Seth Rogen, Roast Battle has introduced new stars and started a movement.</p>

    <p>Comedy Central has since taken the format international, producing versions of the show in Britain and South
      Africa, while homegrown “Roast Battles” continue to pop up at comedy clubs all across the world. Season 3 of Roast
      Battle will air on Comedy Central later this year.</p>

    <p>Jeff's most recent comedy specials turn roasting into social commentary. With Jeff Ross Roasts Criminals, Jeff
      Ross Roasts Cops, and Jeff Ross Roasts The Border, Jeff has shed light on some of the more polarizing political
      issues of our time. These specials have taken him to a maximum security prison, the Boston Police Department, and
      both sides of the Mexican border. Jeff has immersed himself in these communities and then roasted them.</p>

    <p>Jeff also regularly tours with the USO to perform for our troops overseas. Most recently Jeff traveled to Iraq
      with The Chairman of the Joint Chiefs of Staff, General Joseph Dunford, and performed holiday shows for the
      soldiers stationed there.</p>

    <p>Recently, Jeff has also lent his voice to cartoons, with performances in Future Worm, Penn Zero: Part Time Hero,
      The Emoji Movie, and as series regular “Hook Foot” on the popular Disney show Tangled.</p>

    <p>The Roastmaster General is a one man verbal assault unit that takes no prisoners. So what are you waiting for?
      Come to his shows and see if you have what it takes to get roasted by The Roastmaster General.</p>
  </div>
</section>
{% endblock %}