{% extends "base.html" %}

{% block before_header %}
{% include "banner.html" %}
{% endblock %}

{% block header %}
<div class="bg bg-carousel bg-about-videos-1 m-visible"></div>
<div class="bg bg-carousel bg-about-videos-2"></div>

{% endblock %}

{% block content %}
<h1>About Jeff</h1>

<section class="content">
  <div class="wrapper b-about b-text-page">
    <p>Jeff Ross (AKA “Roastmaster General”) is a one-man verbal assault unit.  For years, his name has been synonymous with Roasting. As a staple on the COMEDY CENTRAL ROASTS, Jeff has anchored the roasts of the industry’s most famous people including Justin Bieber, Alec Baldwin, Bruce Willis, James Franco, Charlie Sheen, and former President Donald Trump.</p>

    <p>Currently, Jeff is developing his one-man show, “Take a Banana For the Ride,” a journey through his life of laughter and loss.  This semi-autobiographical show touches on some of the most poignant moments in the comedian’s career to chronicle how he became The Roastmaster.  It will debut at the New York Comedy Festival in November.</p>

    <p>Most recently, he filmed the Peter Farrelly movie, Ricky Stanicky for Amazon starring Zac Efron and John Cena. His television projects include ROAST BATTLE for Comedy Central, a series which Ross produced and starred for three seasons. ROAST BATTLE has become an international phenomenon with markets including England, Germany, Canada and South Africa producing their own versions.  Ross also starred in the 3-episode comedy special BUMPING MICS with Dave Attell for Netflix. This rapid-fire, two-man stand up series has a joke-per-minute ratio and if you’re lucky you can catch it live at The Comedy Cellar in New York City. Ross also produced and starred in six episodes of HISTORICAL ROASTS for Netflix, a series which roasted some of the most important figures in history including Abraham Lincoln, Martin Luther King, and Cleopatra.</p>

    <p>Jeff's has also used comedy specials to turn roasting into social commentary. With JEFF ROSS ROASTS CRIMINALS, JEFF ROSS ROASTS COPS, AND JEFF ROSS ROASTS THE BORDER, Jeff has shed light on some of the more polarizing political issues of our time. These specials have taken him to a maximum security prison, the Boston Police Department, and both sides of the Mexican border.</p>

    <p>Jeff continues to tour the country doing stand-up and bringing his own brand of speed-roasting to audiences both stateside and abroad.</p>
  </div>
</section>
{% endblock %}
