{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-home-merch-1 m-visible"></div>
  <div class="bg bg-carousel bg-home-merch-2"></div>
  <div class="bg bg-carousel bg-home-merch-3"></div>
  <a class="b-criminals-banner m-top" href="./specials.html#jeff-roasts-criminals"></a>
{% endblock %}

{% block content %}
  <h1>Books & Merch</h1>

  <section class="content">
    <div class="wrapper b-books">
      <div class="b-left">
        <div>
          <img src="img/book-cover.jpg"/>
        </div>

        <div class="b-description">
          <blockquote class="e-quote">
            <p>If insulting somebody is an art form, then Jeffrey Ross is Pablo Picasso</p>
            <span>CHICAGO TRIBUNE</span>
          </blockquote>

          <p>One of the world’s foremost practitioners of insult comedy, Jeffrey
          Ross has memorably and uproariously roasted some of our favorite
          celebrities. Part memoir and part how-to guide, I Only Roast the Ones
          I Love unveils the irreverent secrets every successful roastmaster
          should know.</p>

          <div class="b-stores">
            <a href="http://www.amazon.com/Only-Roast-Ones-Love-Without/dp/1439102791/ref=sr_1_1?s=books&ie=UTF8&qid=1434662469&sr=1-1&keywords=jeff+ross" target="_blank"><img class="e-amazon"  src="img/logos/amazon.png"/></a>
            <a href="http://www.goodreads.com/book/show/4862966-i-only-roast-the-ones-i-love" target="_blank"><img class="e-goodreads" src="img/logos/good-reads.png"/></a>
            <a href="http://www.barnesandnoble.com/w/i-only-roast-the-ones-i-love-jeffrey-ross/1019428787?ean=9781439102794" target="_blank"><img class="e-barnes-and-noble" src="img/logos/barnes-and-noble.png"/></a>
            <a href="https://play.google.com/store/books/details?id=39wzWouw4nkC&utm_source=na_Med&utm_medium=hasem&utm_content=100914&utm_campaign=BooksActAd&pcampaignid=MKT-EG-na-us-all-Med-hasem-bk-BooksActAd-100914-1&gclid=CMGZv46YmsYCFVabNwodnK4Pyw&gclsrc=ds" target="_blank"><img class="e-google-play" src="img/logos/google-play.png"/></a>
            <a href="https://books.google.com/books/about/I_Only_Roast_the_Ones_I_Love.html?id=iY5hp9uB7i4C" target="_blank"><img class="e-google-books" src="img/logos/google-books.png"/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper b-books">
      <div class="b-left">
        <div>
          <img src="img/the-burn.jpg"/>
        </div>

        <div class="b-description">
          <p>Roastmaster General Jeff Ross sets his sights on everyone from porn stars to athletes to highly sensitive people – and nobody's safe. With help from celebrity friends (including Snooki, Bob Saget, Marc Maron, Jimmy Kimmel and Amy Schumer), Ross shows no mercy as he skewers the world like it's never been skewered before.</p>

          <div class="b-stores">
            <a href="https://itunes.apple.com/us/tv-season/burn-jeff-ross-season-1/id546793792" target="_blank"><img class="e-itunes"  src="img/logos/itunes.png"/></a>
            <!-- <a href=""><img class="e-goodreads" src="img/logos/good-reads.png"/></a>
            <a href=""><img class="e-barnes-and-noble" src="img/logos/barnes-and-noble.png"/></a>
            <a href=""><img class="e-google-play" src="img/logos/google-play.png"/></a>
            <a href=""><img class="e-google-books" src="img/logos/google-books.png"/></a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
