{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-contact-tour-1 m-visible"></div>
  <div class="bg bg-carousel bg-contact-tour-2"></div>
  <div class="bg bg-carousel bg-contact-tour-3"></div>
    <a href="https://www.netflix.com/watch/80216225?trackId=200254291&tctx=0%2C0%2C65f96931-340f-4c2e-b462-8a56756f24ab-10732248%2C6356a79c-8c12-4bb5-80d0-6aaea6d895df_15319629X6XX1543361760906%2C6356a79c-8c12-4bb5-80d0-6aaea6d895df_ROOT" class="b-criminals-banner m-top" target="_blank"></a>
{% endblock %}

{% block content %}
  <h1>Contact</h1>
  <section class="content">
    <div class="wrapper b-description">
      <p>Email Jeff: <a href="mailto:roastmastergeneral@gmail.com">roastmastergeneral@gmail.com</a></p>
      <p>Jeff is available for private parties and sleepovers. If you want to book </p>
      <p>Jeff for an appearance, contact Stacy Mark at WME: (310) 248-2000 or <a href="mailto:SM@wmeentertainment.com">SM@wmeentertainment.com</a></p>
      </div>
  </section>
{% endblock %}
