{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-contact-tour-1 m-visible"></div>
  <div class="bg bg-carousel bg-contact-tour-2"></div>
  <div class="bg bg-carousel bg-contact-tour-3"></div>
  <a class="b-criminals-banner m-top" href="http://www.cc.com/shows/roast-battle"></a>
{% endblock %}

{% block content %}
  <h1>Contact</h1>
  <section class="content">
    <div class="wrapper b-description">
      <p>Email Jeff: <a href="mailto:roastmastergeneral@gmail.com">roastmastergeneral@gmail.com</a></p>
      <p>Jeff is available for private parties and sleepovers. If you want to book </p>
      <p>Jeff for an appearance, contact Stacy Mark at WME: (310) 248-2000 or <a href="mailto:SM@wmeentertainment.com">SM@wmeentertainment.com</a></p>
      </div>
  </section>
{% endblock %}
