{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-home-merch-1 m-visible"></div>
  <div class="bg bg-carousel bg-home-merch-2"></div>
  <div class="bg bg-carousel bg-home-merch-3"></div>

  <div class="b-upcoming-show">
    <a href="#" target="_blank">&nbsp;</a>
  </div> <!-- Edit Here -->
{% endblock %}

{% block content %}
  <span class="b-criminals-banner"></span>
  <section class="content">
    <div class="wrapper">
      <div class="b-center">
        <div class="b-video-wrapper">
          <iframe src="http://media.mtvnservices.com/embed/mgid:arc:video:comedycentral.com:96b55ac1-5b26-4659-847a-91b12e7e66d4" width="560" height="315" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </div>

      <div class="b-left" style="margin-top: 50px;">
        <div>
          <img src="img/Thick_Skin_Logo.jpg" />
        </div>

        <div id="jeff-roasts-criminals" class="b-description">
          <div class="e-title">Listen to Thick Skin with Jeff Ross</div>

          <div class="b-stores">
            <a href="https://itunes.apple.com/us/podcast/thick-skin-with-jeff-ross/id1309231011?mt=2" target="_blank">
              <img class="e-itunes" src="img/logos/itunes.png" />
            </a>

            <a href="https://www.podbean.com/podcast-detail/hrssn-5f23b/Thick+Skin+with+Jeff+Ross" target="_blank">
              <img class="e-itunes" src="img/logos/podbean_logo.png" />
            </a>

            <a href="https://www.stitcher.com/podcast/thick-skin-with-jeff-ross" target="_blank">
              <img src="img/logos/stitcher_logo.png" />
            </a>

            <a href="http://thickskin.libsyn.com/" target="_blank">
              <img style="margin: 0 0 12px 0;" src="img/logos/libsyn_logo.png" />
            </a>
          </div>
        </div>
      </div>
  </section>
{% endblock %}
