{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-home-merch-1 m-visible"></div>
  <div class="bg bg-carousel bg-home-merch-2"></div>
  <div class="bg bg-carousel bg-home-merch-3"></div>

  <div class="b-upcoming-show">
    <a href="#" target="_blank">&nbsp;</a>
  </div> <!-- Edit Here -->
{% endblock %}

{% block content %}
  <a class="b-criminals-banner" href="./specials.html#specials"></a>
  <section class="content">
    <div class="wrapper">
      <div class="b-center">
        <div class="b-image-wrapper">
          <a href="https://hahaholiday.com/collections/vendors?q=Jeff%20Ross"><img src="img/sweater.png" class="b-img" alt="sweaters"></a>
        </div>

        <div class="b-description">
          <p class="m-italic">Have the best sweater at the Bad Sweater party this year, loving crafted by the Roastermaster General, Jeff Ross.</p>

          <div class="b-stores">
            <a href="https://itun.es/us/mKoLeb" target="_blank"><img class="e-itunes" src="img/logos/itunes.png"/></a>
            <a href="http://www.cc.com/shows/jeff-ross-roasts-cops" target="_blank"><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a>
            {# <a href="#" target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png"/></a> #}
            {# <a href="#" target="_blank"><img class="e-vudu" src="img/logos/vudu-blue.png"/></a> #}
          </div>
        </div>
      </div>
  </section>
{% endblock %}
