{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-specials-press-1 m-visible"></div>
  <div class="bg bg-carousel bg-specials-press-2"></div>
  <div class="bg bg-carousel bg-specials-press-3"></div>
  <span class="b-criminals-banner m-top"></span>
{% endblock %}

{% block content %}
  <h1 id="specials">Specials</h1>

  <section class="content">
    <div class="wrapper">
      <div id="cops" class="b-left">
        <div>
          <img src="img/roasts-cops.jpg"/>
        </div>

        <div id="jeff-roasts-criminals" class="b-description">
          <div class="e-title">Jeff Ross Roasts Cops</div>

          <p>Roastmaster General Jeff Ross talks to Black Lives Matter activists, goes on an eye-opening police ride-along and roasts members of the Boston Police Department.</p>
          <div class="b-stores">
            <a href="https://itun.es/us/mKoLeb" target="_blank"><img class="e-itunes" src="img/logos/itunes.png"/></a>
            <a href="http://www.cc.com/shows/jeff-ross-roasts-cops" target="_blank"><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a>

          </div>
        </div>
      </div>

      <div class="b-right">
        <div>
          <img src="img/roast-battle.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">Roast Battle</div>

          <p>Original material only. No physical contact. Every Battle ends with a hug.</p>

          <div class="b-stores">
            <a href="https://itun.es/us/PmbJdb" target="_blank"><img class="e-itunes" src="img/logos/itunes.png"/></a>
            <a href="http://http://www.cc.com/shows/roast-battle" target="_blank"><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a>

            {# <a href="http://www.amazon.com/dp/B009PPHNHO?ref_=imdbref_tt_wbr_aiv&tag=imdbtag_tt_wbr_aiv-20" target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png"/></a> -->

            <a href=""><img class="e-vudu" src="img/logos/vudu-blue.png"/></a> -->
            <!-- <a href="https://roastmaster.vhx.tv/buy/ross-roasts-america" target="_blank"><img class="e-vhx" src="img/logos/vhx.png" alt=""></a> -->#}
          </div>
        </div>
      </div>

      <div class="b-left">
        <div>
          <img src="img/brazos.jpg"/>
        </div>

        <div id="jeff-roasts-criminals" class="b-description">
          <div class="e-title">Jeff Ross Roasts Criminals: Live At Brazos County Jail</div>

          <p>What happens when an insult comic attacks people who are guilty
          of assault? Find out when Roastmaster General Jeff Ross brings his
          best slams to the slammer for a fearless -- and surprisingly
          insightful -- performance filmed live at the Brazos County Jail.</p>

          <div class="b-stores">
            <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-criminals/id997755226" target="_blank"><img class="e-itunes" src="img/logos/itunes.png"/></a>
            <a href="http://www.amazon.com/Jeff-Ross-Roasts-Criminals-Brazos/dp/B00ZSPIDIS/ref=sr_1_1?ie=UTF8&qid=1434658203&sr=8-1&keywords=jeff+ross+brazos+jail&pebp=1434658215088&perid=1F0EAZCBSY1X3Q7M3XS1" target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png"/></a>
            <a href="http://jeffross.comedydirect.com/" target="_blank"><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a>
            <a href="http://www.vudu.com/movies/#!content/677120/Jeff-Ross-Roasts-Criminals-Live-At-Brazos-County-Jail" target="_blank"><img class="e-vudu" src="img/logos/vudu-blue.png"/></a>

          </div>
        </div>
      </div>

      <div class="b-right">
        <div>
          <img src="img/roasts-america.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">Jeff Ross Roasts America</div>

          <p>What happens when an insult comic attacks people who are guilty
          of assault? Find out when Roastmaster General Jeff Ross brings his
          best slams to the slammer for a fearless -- and surprisingly
          insightful -- performance filmed live at the Brazos County Jail.</p>

          <div class="b-stores">
            <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-america/id547401635" target="_blank"><img class="e-itunes" src="img/logos/itunes.png"/></a>
            <!-- <a href="http://www.amazon.com/dp/B009PPHNHO?ref_=imdbref_tt_wbr_aiv&tag=imdbtag_tt_wbr_aiv-20" target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png"/></a> -->
            <!-- <a href=""><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a>
            <a href=""><img class="e-vudu" src="img/logos/vudu-blue.png"/></a> -->
            <!-- <a href="https://roastmaster.vhx.tv/buy/ross-roasts-america" target="_blank"><img class="e-vhx" src="img/logos/vhx.png" alt=""></a> -->
          </div>
        </div>
      </div>

      <div class="b-left">
        <div>
          <img src="img/patriot.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">Patriot Act: A Jeffrey Ross Home Movie</div>

          <p>Winner of the Best Picture award at the Montreal Comedy Festival,
          Patriot Act is Jeff's feature-length "home video" shot while on
          Drew Carey's U.S.O. show that toured through Iraq during the first
          year of the American occupation.</p>

          <div class="b-stores">
            <!-- <a href=""><img class="e-itunes" src="img/logos/itunes.png"/></a> -->
            <!-- <a href="http://www.amazon.com/dp/B000FKPDTI?ref_=imdbref_tt_wbr_amazon&tag=imdbtag_tt_wbr_amazon-20" target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png"/></a> -->
            <!-- <a href=""><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a>
            <a href=""><img class="e-vudu" src="img/logos/vudu-blue.png"/></a> -->
            <a href="https://roastmaster.vhx.tv/buy/patriot-act-1" target="_blank"><img class="e-vhx" src="img/logos/vhx.png" alt=""></a>
          </div>
        </div>
      </div>

      <div class="b-right">
        <div>
          <img src="img/offense.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">No Offense: Live From New Jersey</div>

          <p>In his first full-length comedy stand-up DVD, Jeff goes home to
          New Jersey to reach back to his roots.</p>

          <div class="b-stores">
            <!-- <a href="" target="_blank"><img class="e-itunes" src="img/logos/itunes.png"/></a> -->
            <a href="http://www.amazon.com/Jeffrey-Ross-Offense-Live-Jersey/dp/B001R5T0NA/ref=sr_1_1?s=instant-video&ie=UTF8&qid=1434659450&sr=1-1&keywords=no+offense%3A+live+from+jersey&pebp=1434659461078&perid=116X37MPNGA553NEEA8C" target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png"/></a>
            <!-- <a href="" target="_blank"><img class="e-comedy-central" src="img/logos/comedy-central.png"/></a> -->
            <a href="http://www.vudu.com/movies/#!overview/352315/Jeffrey-Ross-No-Offense-Live-From-New-Jersey" target="_blank"><img class="e-vudu" src="img/logos/vudu-blue.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
