{% extends "base.html" %}

{% block header %}
<div class="bg bg-carousel bg-specials-press-1 m-visible"></div>
<div class="bg bg-carousel bg-specials-press-2"></div>
<div class="bg bg-carousel bg-specials-press-3"></div>
<a href="/tour-dates.html" class="b-criminals-banner m-top" target="_blank"></a>
{% endblock %}

{% block content %}
<h1 id="specials">Specials</h1>

<section class="content">
  <div class="wrapper">
    <div id="cops" class="b-left">
      <div><img src="img/bumping-mics.jpg" /></div>

      <div id="jeff-roasts-criminals" class="b-description">
        <div class="e-title">Bumping Mics with Jeff Ross & Dave Attell</div>
        <p>Two Best Friends. Three Crazy Nights. Tons of Special Guests. No One is Safe. Bumping Mics with Jeff Ross &
          Dave Attell, a Three-Part Netflix Stand-Up Event. Watch here.</p>

        <div class="b-stores">
          <a href="https://www.netflix.com/watch/80216225?trackId=200254291&tctx=0%2C0%2C65f96931-340f-4c2e-b462-8a56756f24ab-10732248%2C6356a79c-8c12-4bb5-80d0-6aaea6d895df_15319629X6XX1543361760906%2C6356a79c-8c12-4bb5-80d0-6aaea6d895df_ROOT"
            target="_blank"><img class="e-netflix" src="img/logos/netflix_logo.png" /></a>
        </div>
      </div>
    </div>

    <div class="b-right">
      <div><img src="img/jeff-ross-roasts-the-border.jpg" /></div>

      <div class="b-description">
        <div class="e-title">Jeff Ross Roasts the Border: Live From Brownsville, Texas</div>
        <p>Jeff Ross travels to the U.S.-Mexico border to put on a stand-up show next to the wall and talk to the people
          being affected by American immigration policies.</p>

        <div class="b-stores">
          <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-the-border-live-from-brownsville-texas/id1310861768?i=1314102211"
            target="_blank"><img class="e-itunes" src="img/logos/itunes.png" /></a>
          <a href="https://www.amazon.com/dp/B077KCTZWY/ref=sr_1_1?ie=UTF8&qid=1511043871&sr=8-1&keywords=jeff+ross+roasts+the+border"
            target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png" /></a>
          <a href="http://www.cc.com/episodes/uvdx30/jeff-ross-roasts-the-border-jeff-ross-roasts-the-border-season-1-ep-101"
            target="_blank"><img class="e-comedy-central" src="img/logos/comedy-central.png" /></a>
        </div>
      </div>
    </div>

    <div id="cops" class="b-left">
      <div><img src="img/roasts-cops.jpg" /></div>

      <div id="jeff-roasts-criminals" class="b-description">
        <div class="e-title">Jeff Ross Roasts Cops</div>
        <p>Roastmaster General Jeff Ross talks to Black Lives Matter activists, goes on an eye-opening police ride-along
          and roasts members of the Boston Police Department.</p>

        <div class="b-stores">
          <a href="https://itun.es/us/mKoLeb" target="_blank"><img class="e-itunes" src="img/logos/itunes.png" /></a>
          <a href="http://www.cc.com/shows/jeff-ross-roasts-cops" target="_blank"><img class="e-comedy-central"
              src="img/logos/comedy-central.png" /></a>
        </div>
      </div>
    </div>

    <div class="b-right">
      <div><img src="img/roast-battle.jpg" /></div>

      <div class="b-description">
        <div class="e-title">Roast Battle</div>
        <p>Original material only. No physical contact. Every Battle ends with a hug.</p>

        <div class="b-stores">
          <a href="https://itun.es/us/PmbJdb" target="_blank"><img class="e-itunes" src="img/logos/itunes.png" /></a>
          <a href="http://http://www.cc.com/shows/roast-battle" target="_blank"><img class="e-comedy-central"
              src="img/logos/comedy-central.png" /></a>
        </div>
      </div>
    </div>

    <div class="b-left">
      <div><img src="img/brazos.jpg" /></div>

      <div id="jeff-roasts-criminals" class="b-description">
        <div class="e-title">Jeff Ross Roasts Criminals: Live At Brazos County Jail</div>

        <p>
          What happens when an insult comic attacks people who are guilty
          of assault? Find out when Roastmaster General Jeff Ross brings his
          best slams to the slammer for a fearless -- and surprisingly
          insightful -- performance filmed live at the Brazos County Jail.
        </p>

        <div class="b-stores">
          <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-criminals/id997755226" target="_blank"><img
              class="e-itunes" src="img/logos/itunes.png" /></a>
          <a href="http://www.amazon.com/Jeff-Ross-Roasts-Criminals-Brazos/dp/B00ZSPIDIS/ref=sr_1_1?ie=UTF8&qid=1434658203&sr=8-1&keywords=jeff+ross+brazos+jail&pebp=1434658215088&perid=1F0EAZCBSY1X3Q7M3XS1"
            target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png" /></a>
          <a href="http://jeffross.comedydirect.com/" target="_blank"><img class="e-comedy-central"
              src="img/logos/comedy-central.png" /></a>
          <a href="http://www.vudu.com/movies/#!content/677120/Jeff-Ross-Roasts-Criminals-Live-At-Brazos-County-Jail"
            target="_blank"><img class="e-vudu" src="img/logos/vudu-blue.png" /></a>
        </div>
      </div>
    </div>

    <div class="b-right">
      <div><img src="img/roasts-america.jpg" /></div>

      <div class="b-description">
        <div class="e-title">Jeff Ross Roasts America</div>

        <p>
          What happens when an insult comic attacks people who are guilty
          of assault? Find out when Roastmaster General Jeff Ross brings his
          best slams to the slammer for a fearless -- and surprisingly
          insightful -- performance filmed live at the Brazos County Jail.
        </p>

        <div class="b-stores">
          <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-america/id547401635" target="_blank"><img
              class="e-itunes" src="img/logos/itunes.png" /></a>
        </div>
      </div>
    </div>

    <div class="b-left">
      <div><img src="img/patriot.jpg" /></div>

      <div class="b-description">
        <div class="e-title">Patriot Act: A Jeffrey Ross Home Movie</div>

        <p>
          Winner of the Best Picture award at the Montreal Comedy Festival,
          Patriot Act is Jeff's feature-length "home video" shot while on
          Drew Carey's U.S.O. show that toured through Iraq during the first
          year of the American occupation.
        </p>

        <div class="b-stores">
          <a href="https://roastmaster.vhx.tv/buy/patriot-act-1" target="_blank"><img class="e-vhx"
              src="img/logos/vhx.png" alt=""></a>
        </div>
      </div>
    </div>

    <div class="b-right">
      <div><img src="img/offense.jpg" /></div>

      <div class="b-description">
        <div class="e-title">No Offense: Live From New Jersey</div>
        <p>In his first full-length comedy stand-up DVD, Jeff goes home to New Jersey to reach back to his roots.</p>

        <div class="b-stores">
          <a href="http://www.amazon.com/Jeffrey-Ross-Offense-Live-Jersey/dp/B001R5T0NA/ref=sr_1_1?s=instant-video&ie=UTF8&qid=1434659450&sr=1-1&keywords=no+offense%3A+live+from+jersey&pebp=1434659461078&perid=116X37MPNGA553NEEA8C"
            target="_blank"><img class="e-amazon-iv" src="img/logos/amazon-instant-video.png" /></a>
          <a href="http://www.vudu.com/movies/#!overview/352315/Jeffrey-Ross-No-Offense-Live-From-New-Jersey"
            target="_blank"><img class="e-vudu" src="img/logos/vudu-blue.png" /></a>
        </div>
      </div>
    </div>

    <div class="b-left">
      <div>
        <img src="img/the-burn.jpg" />
      </div>

      <div class="b-description">
        <p>Roastmaster General Jeff Ross sets his sights on everyone from porn stars to athletes to highly sensitive
          people – and nobody's safe. With help from celebrity friends (including Snooki, Bob Saget, Marc Maron, Jimmy
          Kimmel and Amy Schumer), Ross shows no mercy as he skewers the world like it's never been skewered before.</p>

        <div class="b-stores">
          <a href="https://itunes.apple.com/us/tv-season/burn-jeff-ross-season-1/id546793792" target="_blank"><img
              class="e-itunes" src="img/logos/itunes.png" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}