{% extends "base.html" %}

{% block header %}
  <div class="bg bg-about"></div>
  <a class="b-criminals-banner m-top" href="./specials.html#jeff-roasts-criminals"></a>
{% endblock %}

{% block content %}
  <h1>About Jeff</h1>

  <section class="content">
    <div class="wrapper b-about b-text-page">
      <p>Jeff Ross. The Roastmaster General. A One Man Verbal Assault Unit. Pizza Enthusiast.</p>
      <p>Jeff Ross is known to the world as the modern day <a href="https://en.wikipedia.org/wiki/Don_Rickles" target="_blank">Don Rickles</a>. The King of roasting. Let's face it, if there's a roast and he's not there, it's not a real roast. Growing up in Newark, NJ he took the greatest weapon he had to fight his way out of there. His Mouth.</p>
      <p>Since then Jeff has roasted anyone who would accept the challenge. From Criminals, to Soldiers, to Politicians, and Pop Icons.</p>
      <p>He has no limits, even roasting criminals inside the walls of a maximum security county jail in Texas (check out <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-criminals/id997755226" target="_blank">Jeff Ross Roasts Criminals</a>). Sure some comedians perform in jails, but no other comedian would have it in their right mind to immerse themselves inside a jail for three days, and then invite those same incarcerated people on stage with him to get roasted face-to-face. If criminals were tough, Jeff even roasted Justin Bieber as part of the record breaking Comedy Central Roast, which Jeff also produced.</p>
      <p>Roasting is ingrained in Jeff's life, and he helped bring The Friar's Club Roasts to Comedy Central in 1998, with The Roast of Drew Carey. Since then they have roasted Donald Trump, Pamela Anderson, James Franco, Joan Rivers, Hugh Hefner, Charlie Sheen, and many more. It seems impossible to have one of these roasts without The Roastmaster himself on the dais.</p>
      <p>Jeff has also been no slouch on the silver screen. Where most recently you could have seen him in "The Wedding Ringer" with Kevin Hart, "Flock of Dudes" with Chris D'Elia, and the upcoming series "Kingdom" on Direct TV.</p>
      <p>Make sure you catch him live for an experience no other comedian in the world can deliver. Constantly touring as host of Funny or Die's Oddball Comedy Festival, or by himself in theaters, rock venus, and comedy clubs across the world. It is an experience that is sure to get you laid. During all of his performances he offers to have members of the audience join him on stage and get roasted by the best out there. Volunteers Only!  Otherwise it's bullying.</p>

      <!-- <div class="b-video-wrapper">
          <iframe src="https://www.youtube.com/embed/lsgyrdLpT1o" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> -->
  </section>
{% endblock %}
