{% extends "base.html" %}

{% block header %}
  <div class="bg bg-books"></div>
  <div class="b-criminals-banner m-top"></div>
{% endblock %}

{% block content %}
  <h1>Books</h1>

  <section class="content">
    <div class="wrapper b-books">
      <div class="b-left">
        <div>
          <img src="static/img/book-cover.jpg"/>
        </div>

        <div class="b-description">
          <blockquote class="e-quote">
            <p>If insulting somebody is an art form, then Jeffrey Ross is Pablo Picasso</p>
            <span>CHICAGO TRIBUNE</span>
          </blockquote>

          <p>One of the world’s foremost practitioners of insult comedy, Jeffrey
          Ross has memorably and uproariously roasted some of our favorite
          celebrities. Part memoir and part how-to guide, I Only Roast the Ones
          I Love unveils the irreverent secrets every successful roastmaster
          should know.</p>


          <div class="b-stores">
            <a href=""><img class="e-amazon"  src="static/img/logos/amazon.png"/></a>
            <a href=""><img class="e-goodreads" src="static/img/logos/good-reads.png"/></a>
            <a href=""><img class="e-barnes-and-noble" src="static/img/logos/barnes-and-noble.png"/></a>
            <a href=""><img class="e-google-play" src="static/img/logos/google-play.png"/></a>
            <a href=""><img class="e-google-books" src="static/img/logos/google-books.png"/></a>
          </div>
        </div>
      </div>
  </section>
{% endblock %}
