<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeff Ross - The Roastmaster General</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
</head>
<body>
  <div id="mainContainer">
    
    <div class="criminals">
    </div>
    
    <header class="wrapper header">
      <div class="social-media">
        <a class="instagram"><i class="fa fa-2x fa-instagram"></i></a>
        <a class="twitter"><i class="fa fa-2x fa-twitter"></i></a>
        <a class="facebook"><i class="fa fa-2x fa-facebook"></i></a>
      </div>
      <a class="logo" href="./">
        <h1><span>Jeff</span>Ross</h1>
        <h2><span>The</span>Roastmaster<span>General</span></h2>
      </a>

      <nav>
        <ul>
          <li><a href="#tour">Tour Dates</a></li>
          <li><a href="#">Specials</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </nav>
    </header>

    <div class="bg"></div>
    
    <div class="main">
      <h1>Tour Dates</h1>
      <section class="content">
        <div class="wrapper">
          <table>
            <thead>
              <th class="date">DATE</th>
              <th class="time">TIME</th>
              <th class="show">TOUR/SHOW</th>
              <th class="venue">VENUE</th>
              <th class="city">LOCATION</th>
              <th></th>
            </thead>
            <tr>
              <td class="date">6/19/2015</td>
              <td class="time">7:30 PM</td>
              <td class="show">Stand-Up</td>
              <td class="venue">The Norva</td>
              <td class="city">Norfolk, VA</td>
              <td><a href="#"><i class="fa fa-link"></i></a></td>
            </tr>
            <tr>
              <td class="date">6/20/2015</td>
              <td class="time">8:00 PM</td>
              <td class="show">Stand-Up</td>
              <td class="venue">The National</td>
              <td class="city">Richmond, VA</td>
              <td class="link"><a href="#"><i class="fa fa-link"></i></a></td>
            </tr>
            <tr>
              <td class="date">6/25/2015</td>
              <td class="time">8:00 PM</td>
              <td class="show">Stand-Up</td>
              <td class="venue">NYCB Theatre at Westbury</td>
              <td class="city">Westbury, NY</td>
              <td class="link"><a href="#"><i class="fa fa-link"></i></a></td>
            </tr>
            <tr>
              <td class="date">7/11/2015</td>
              <td class="time">9:00 PM</td>
              <td class="show">Stand-Up</td>
              <td class="venue">Magic Castle Casino</td>
              <td class="city">Miami, FL</td>
              <td class="link"><a href="#"><i class="fa fa-link"></i></a></td>
            </tr>
            <tr>
              <td class="date">10/2/2015</td>
              <td class="time">7:30 PM</td>
              <td class="show">Stand-Up</td>
              <td class="venue">The Pullo Center</td>
              <td class="city">York, PA</td>
              <td class="link"><a href="#"><i class="fa fa-link"></i></a></td>
            </tr>
          </table>
        </div>

      </section>
    </div>
  </div>
</body>
</html>






<!-- {% extends "layout/base.html" %}
{% block content %}


{% endblock %}
 -->