{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-home-merch-1 m-visible"></div>
  <div class="bg bg-carousel bg-home-merch-2"></div>
  <div class="bg bg-carousel bg-home-merch-3"></div>

  <div class="b-upcoming-show">
    <a href="#" target="_blank">&nbsp;</a>
  </div> <!-- Edit Here -->
{% endblock %}

{% block content %}
  <div class="b-criminals-banner"></div>
  <section class="content">
    <div class="wrapper">
      <div class="b-center">
        <div class="b-video-wrapper">
          <iframe src="https://www.youtube.com/embed/lsgyrdLpT1o" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="b-description">
          <p class="m-italic">Dear roast fan, Can you handle an intense comedy
          adventure? If you got this far, you can’t stop now. Download my
          jailhouse roast and laugh your balls and vaginas off as I go full
          roast mode on a bunch of criminals. It’s all shot at a maximum
          security jail in Texas - and down there they take corrections as
          seriously as I take roasting. Warning: It’s raw as fuck.</p>

          <div class="b-stores">
            <a href="https://itunes.apple.com/us/tv-season/jeff-ross-roasts-criminals/id997755226" target="_blank"><img class="e-itunes" src="static/img/logos/itunes.png"/></a>
            <a href="http://www.amazon.com/Jeff-Ross-Roasts-Criminals-Brazos/dp/B00ZSPIDIS/ref=sr_1_1?ie=UTF8&qid=1434658203&sr=8-1&keywords=jeff+ross+brazos+jail&pebp=1434658215088&perid=1F0EAZCBSY1X3Q7M3XS1" target="_blank"><img class="e-amazon-iv" src="static/img/logos/amazon-instant-video.png"/></a>
            <a href="http://jeffross.comedydirect.com/" target="_blank"><img class="e-comedy-central" src="static/img/logos/comedy-central.png"/></a>
            <a href="http://www.vudu.com/movies/#!content/677120/Jeff-Ross-Roasts-Criminals-Live-At-Brazos-County-Jail" target="_blank"><img class="e-vudu" src="static/img/logos/vudu-blue.png"/></a>
          </div>
        </div>
      </div>
  </section>
{% endblock %}
