{% extends "base.html" %}

{% block content %}
  <div id="mainContainer">
    <div class="criminals"></div>

    <header class="wrapper header">
      <div class="social-media">
        <a class="instagram"><i class="fa fa-2x fa-instagram"></i></a>
        <a class="twitter"><i class="fa fa-2x fa-twitter"></i></a>
        <a class="facebook"><i class="fa fa-2x fa-facebook"></i></a>
      </div>

      <a class="logo" href="./">
        <h1><span>Jeff</span>Ross</h1>
        <h2><span>The</span>Roastmaster<span>General</span></h2>
      </a>

      <nav>
        <ul>
          <li><a href="#tour">Tour Dates</a></li>
          <li><a href="#">Specials</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </nav>
    </header>

    <div class="bg"></div>

    <div class="main">
      <h1>Press</h1>

      <section class="content">
        <div class="wrapper">
          <ul class="press">{# Filled via JavaScript. #}</ul>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
