{% extends "base.html" %}

{% block header %}
  <div class="bg bg-specials"></div>
  <div class="b-criminals-banner m-top"></div>
{% endblock %}

{% block content %}
  <h1>Specials</h1>

  <section class="content">
    <div class="wrapper">
      <div class="b-left">
        <div>
          <img src="static/img/brazos.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">Jeff Ross Roasts Criminals: Live At Brazos County Jail</div>

          <p>What happens when an insult comic attacks people who are guilty
          of assault? Find out when Roastmaster General Jeff Ross brings his
          best slams to the slammer for a fearless -- and surprisingly
          insightful -- performance filmed live at the Brazos County Jail.</p>

          <div class="b-stores">
            <a href=""><img class="e-itunes" src="static/img/logos/itunes.png"/></a>
            <a href=""><img class="e-amazon-iv" src="static/img/logos/amazon-instant-video.png"/></a>
            <a href=""><img class="e-comedy-central" src="static/img/logos/comedy-central.png"/></a>
            <a href=""><img class="e-vudu" src="static/img/logos/vudu-blue.png"/></a>
          </div>
        </div>
      </div>

      <div class="b-right">
        <div>
          <img src="static/img/brazos.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">Jeff Ross Roasts America</div>

          <p>What happens when an insult comic attacks people who are guilty
          of assault? Find out when Roastmaster General Jeff Ross brings his
          best slams to the slammer for a fearless -- and surprisingly
          insightful -- performance filmed live at the Brazos County Jail.</p>

          <div class="b-stores">
            <a href=""><img class="e-itunes" src="static/img/logos/itunes.png"/></a>
            <a href=""><img class="e-amazon-iv" src="static/img/logos/amazon-instant-video.png"/></a>
            <a href=""><img class="e-comedy-central" src="static/img/logos/comedy-central.png"/></a>
            <a href=""><img class="e-vudu" src="static/img/logos/vudu-blue.png"/></a>
          </div>
        </div>
      </div>

      <div class="b-left">
        <div>
          <img src="static/img/patriot.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">Patriot Act: A Jeffrey Ross Home Movie</div>

          <p>Winner of the Best Picture award at the Montreal Comedy Festival,
          Patriot Act is Jeff's feature-length "home video" shot while on
          Drew Carey's U.S.O. show that toured through Iraq during the first
          year of the American occupation.</p>

          <div class="b-stores">
            <a href=""><img class="e-itunes" src="static/img/logos/itunes.png"/></a>
            <a href=""><img class="e-amazon-iv" src="static/img/logos/amazon-instant-video.png"/></a>
            <a href=""><img class="e-comedy-central" src="static/img/logos/comedy-central.png"/></a>
            <a href=""><img class="e-vudu" src="static/img/logos/vudu-blue.png"/></a>
          </div>
        </div>
      </div>

      <div class="b-right">
        <div>
          <img src="static/img/offense.jpg"/>
        </div>

        <div class="b-description">
          <div class="e-title">No Offense: Live From New Jersey</div>

          <p>In his first full-length comedy stand-up DVD, Jeff goes home to
          New Jersey to reach back to his roots.</p>

          <div class="b-stores">
            <a href=""><img class="e-itunes" src="static/img/logos/itunes.png"/></a>
            <a href=""><img class="e-amazon-iv" src="static/img/logos/amazon-instant-video.png"/></a>
            <a href=""><img class="e-comedy-central" src="static/img/logos/comedy-central.png"/></a>
            <a href=""><img class="e-vudu" src="static/img/logos/vudu-blue.png"/></a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
