{% extends "base.html" %}

{% block header %}
  <div class="bg bg-carousel bg-contact-tour-1 m-visible"></div>
  <div class="bg bg-carousel bg-contact-tour-2"></div>
  <a class="b-criminals-banner m-top" href="./specials.html#jeff-roasts-criminals"></a>
{% endblock %}

{% block content %}
  <h1>Tour Dates</h1>

  <section class="content">
    <div class="wrapper">
      <table class="tour-dates">
        <thead>
          <th class="m-ellipsis date">Date</th>
          <th class="m-ellipsis time">Time</th>
          <th class="m-ellipsis tour">Tour</th>
          <th class="m-ellipsis venue">Venue</th>
          <th class="m-ellipsis location">Location</th>
          <th class="link"></th>
        </thead>

        <tbody>{# Filled via JavaScript. #}</tbody>
      </table>
      <div class="no-tours">
        <h2>There are no scheduled shows<br>
        <a href="./specials.html">Maybe a Special</a></h2>
      </div>
    </div>
  </section>
{% endblock %}
