{% extends "base.html" %}

{% block header %}
  <div class="bg bg-tour"></div>
  <a class="b-criminals-banner m-top" href="./specials.html#jeff-roasts-criminals"></a>
{% endblock %}

{% block content %}
  <h1>Tour Dates</h1>

  <section class="content">
    <div class="wrapper">
      <table class="tour-dates">
        <thead>
          <th class="m-ellipsis date">DATE</th>
          <th class="m-ellipsis time">TIME</th>
          <th class="m-ellipsis tour">TOUR</th>
          <th class="m-ellipsis venue">VENUE</th>
          <th class="m-ellipsis location">LOCATION</th>
          <th class="link"></th>
        </thead>

        <tbody>{# Filled via JavaScript. #}</tbody>
      </table>
    </div>
  </section>
{% endblock %}
