<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeff Ross - The Roastmaster General</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
  <div id="mainContainer">
    
    <div class="criminals">
    </div>
    
    <header class="wrapper header">
      <div class="social-media">
        <a class="instagram"><i class="fa fa-2x fa-instagram"></i></a>
        <a class="twitter"><i class="fa fa-2x fa-twitter"></i></a>
        <a class="facebook"><i class="fa fa-2x fa-facebook"></i></a>
      </div>
      <a class="logo" href="./">
        <h1><span>Jeff</span>Ross</h1>
        <h2><span>The</span>Roastmaster<span>General</span></h2>
      </a>

      <nav>
        <ul>
          <li><a href="#tour">Tour Dates</a></li>
          <li><a href="#">Specials</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </nav>
    </header>

    <div class="bg"></div>
    
    <div class="main">
      <h1>Press</h1>
      <section class="content">
        <div class="wrapper">
          <ul class="press">
            <li class="press-item">
              <a href="#medialink">
              <div class="press-media m-text"><i class="fa fa-file-text-o"></i></div>
              <div class="press-content">
                <div class="press-title">The Hollywood Reporter – “Comedian Jeff Ross Goes Inside Texas Prison For Most "Dangerous" Roast Yet,”</div>
                <div class="press-meta">
                  <span class="press-publisher">Publisher - The Hollywood Reporter</span>
                  <span class="press-date">5/30/2015</span>
                </div>
              </div>
              </a>
            </li>
            <li class="press-item">
              <a href="">
              <div class="press-media m-text"><i class="fa fa-youtube-play"></i></div>
              <div class="press-content">
                <div class="press-title">Conan – “Jeff Ross Interview”</div>
                <div class="press-meta">
                  <span class="press-publisher">Publisher - The Hollywood Reporter</span>
                  <span class="press-date">5/30/2015</span>
                </div>
              </div>
              </a>
            </li>
            <li class="press-item">
              <a href="#medialink">
              <div class="press-media m-text"><i class="fa fa-file-text-o"></i></div>
              <div class="press-content">
                <div class="press-title">The Hollywood Reporter – “Comedian Jeff Ross Goes Inside Texas Prison For Most "Dangerous" Roast Yet,”</div>
                <div class="press-meta">
                  <span class="press-publisher">Publisher - The Hollywood Reporter</span>
                  <span class="press-date">5/30/2015</span>
                </div>
              </div>
              </a>
            </li>
            <li class="press-item">
              <a href="">
              <div class="press-media m-text"><i class="fa fa-youtube-play"></i></div>
              <div class="press-content">
                <div class="press-title">Conan – “Jeff Ross Interview”</div>
                <div class="press-meta">
                  <span class="press-publisher">Publisher - The Hollywood Reporter</span>
                  <span class="press-date">5/30/2015</span>
                </div>
              </div>
              </a>
            </li>
            
          </ul>
          
        </div>

      </section>
    </div>
  </div>
</body>
</html>






<!-- {% extends "layout/base.html" %}
{% block content %}


{% endblock %}
 -->