.b-branding {
  width: 100%;
  padding: 20px 0 20px;
  text-align: center;
  background: $gray_10;
  background: linear-gradient($gray_30, transparent);

  a {
    text-decoration: none;
  }

  h1, h2 {
    margin: 5px 0;
    line-height: 1;
    color: $white;
    @include text-shadow;
  }
}