.b-main-nav-index {
  position: absolute;
  bottom: 0;

  .e-menu-item {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: $white;
    padding: 28px 20px;
    background-color: $white_20;
    width: 180px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 5px $gray_10;
  }
}

.b-main-menu-trigger {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $white_80;
  @include text-shadow;
  z-index: 10;
}

.b-main-nav {
  opacity: 0;
  z-index: -2;
  pointer-events: none;
  @include transition;
}

.b-main-nav.m-active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white_95;
  z-index: 9;
  opacity: 1;
  pointer-events: all;
  display: flex;
  flex-flow: column;
  @include transition;

  .e-menu-item {
    display: block;
    flex: 1;
    padding: 30px 0;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: $gray_50;
    border-bottom: 1px solid $gray_20;
  }
}