#schedule {
  .b-branding {
    margin-top: 290px;
    background: none;
  }

  .b-main-nav {
  }
}

.b-schedule {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8));
  // background: rgba(0,0,0,0.4);

  .e-schedule-month {
    color: $white_80;
    text-align: center;
    line-height: 1;
    @include text-shadow;
    font-size: 1.6rem;
    letter-spacing: 2px;
    border-top: 1px solid $white_40;
    margin-top: 20px;
    font-weight: 400;
  }

  .e-schedule-item {
    list-style-type: none;
    padding: 10px 20px 20px;
    border-top: 1px solid $white_20;
    margin: 5px 0 0px;
    color: $white;
    letter-spacing: 1px;
  }


  .e-date {
    font-size: 1.2rem;
    margin: 10px 0;
    @include text-shadow;
  }

  .e-place {
    font-size: 1.1rem;
    margin: 5px 0 10px;
    @include text-shadow;
  }
}