$white: rgba(255,255,255,1);
$white_95: rgba(255,255,255,.95);
$white_90: rgba(255,255,255,.9);
$white_80: rgba(255,255,255,.8);
$white_40: rgba(255,255,255,.4);
$white_20: rgba(255,255,255,.2);
$gray_80: rgba(0,0,0,0.8);
$gray_50: rgba(0,0,0,0.5);
$gray_30: rgba(0,0,0,0.3);
$gray_20: rgba(0,0,0,0.2);
$gray_10: rgba(0,0,0,.1);

@mixin text-shadow {
  text-shadow: 1px 1px 5px $gray_10;
}

@mixin transition {
  transition: all 0.4s ease;
}

html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

@import "typography";
@import "branding";
@import "navigation";
@import "schedule";

#homepage .b-background,
#schedule .b-background {
  background-image: url("../img/jeff-ross-mobile-portrait.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

